body {
    background-color: black;
    color: white;
    font-family: 'Crimson Text', serif;

}

/*ABOUT SECTION*/
#about {
    position: relative;
    margin-top: 10rem; 
    margin-left: 8%;   
}

.section-container {
    display: grid;
 align-items: center; 
 justify-content: center;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

.about-text, .about-pic{
    display: flex;  
}

.about-text {
    height: 400px;
    width: 400px;
  
}

.about-pic {
    height: 400px;
    width: 400px;
    margin-left: 20%;
}

#values {
    position: relative;
    margin-top: 10rem;
    margin-left: 30%;
}

.values-container {
    column-gap: 5px;
    display: grid;
    align-items: center; 
    justify-content: center;
    grid-template-columns: 1fr 1fr ;
}

#book-us {
    position: relative;
    margin-top: 10rem;
    margin-left: 30%; 
}

/* .book-h2 {
    text-align: center;
} */